
.navbar-dark .navbar-nav .nav-link{
  font-size: 1em;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  transition: 0.8s;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: yellow;
}

.title{
  margin: -10px;
  padding: 10px;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

/* MODAL */

.modal-header, h4, .close {
    background-color: #F5D81A;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header{
  border-bottom: 1px solid black;
}

.modal-footer {
    background-color: #F5D81A;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.modal_footer2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header{
background-image: url("../img/header-bg.jpg");
height: 800px;
}

.boxMenu{
  margin-bottom: 25px;
}

.lienBouton{
  padding: 30px;
  border-radius: 30%;
}

.desc_abeille:hover{
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  color: green;
  transition: 1s;
}

.para_pass{

}
.photo_slider{
  width: 600px;
}
