<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/'vivify.min.css'">
    <link href="starter-template.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style_abeille.css" rel="stylesheet">
    <title>abeille_italienne</title>
    <!-- ================================================================================= -->
    <!-- ==================================================================================-->
  </head>

  <body class="vivify fadeIn">
                                                                <!-- /.container -->
    <!-- ==================================  CONTAINER 3 PHOTOS ET TEXTE  =====================================-->
    <!-- ==================================  CONTAINER 3  TEXTES ET 3 PHOTOS EN HORIZONTAL =====================================-->

<!-- ==================================  CONTAINER 3 PHOTOS ET TEXTE  =====================================-->

<div class="container-fluid" ><!-- /.container -->
  <div class="row">

    <div class="col-sm-10"><h2 class="text-white">L'abeille italienne</h2></div>
    <!-- <div class="col-sm-1"><input  type="button" value="Accueil" OnClick="window.location.href='index.html#speakers'" /></div> -->
    <div class="col-sm-1"></div>


  </div>

<!--==================================rang 1 =============================================-->
<div class="media">
  <div class="row">
      <div class="col-sm-7">
        <img class="mr-3 fred" src="img/abeille_jaune.jpg" alt="Generic placeholder image">
        <div class="col-sm-1"><input  type="button" value="Retour" OnClick="window.location.href='index.html#speakers'" class="btn btn-success retour" /></div>
      </div>
      <div class="col-sm-5">
        <div class="media-body">
          <h5 class="mt-0 text-white">ORIGINE ET DISTRIBUTION</h5>

<p class="fred text-white">De couleur jaune, c'est sans aucun doute l'abeille la plus répandue chez les
   apiculteurs-producteurs actuels. Pour exemple, elle est présente dans 75% du cheptel australien,
    20% du cheptel français, contre 60% du cheptel chinois. Originaire du bassin italien,
     entre les Alpes et la Méditerranée. {{{Avantages : }}} Très appréciés par les professionnels,
      étant donné qu'elle est douce, possède une aptitude moyenne pour les recoltes puisque sa
      langue atteint 6.50mm, elle est simple à travailler, son couvain est abondant et précoce
       et est idéale pour la fabrication de paquet d'abeille, ainsi que de gelée royale.
       {{{Défauts : }}} Par contre elle est pillarde, sensible aux maladies, aux baisses de
       température pendant l'hivernage,et à la dérive; et se revèle très agressive lorsqu'elle
       est coupée, notamment avec des mâles noirs.
       En Italie, son pays d’origine, elle est scrupuleusement protégée afin d’éviter les pollutions
        génétiques. Pour ce faire, les importations d’autres espèces d’abeilles ont donc été interdites.

  Les caractéristiques de l’Apis mellifera ligustica

  L’abeille italienne possède une couleur et des signes qui lui sont propres. Chez les ouvrières,
  on distingue une coloration orange claire sur les trois premiers segments supérieurs de l’abdomen.
   Le bord inférieur du troisième segment est généralement de couleur noire. Les jeunes abeilles
   conservent d’abord cette couleur vive, puis s’assombrissent au fur et à mesure qu’elles vieillissent.
    L’anneau terminal de l’abeille italienne est quant à lui plus effilé et pointu, par rapport à celui
    de l’abeille commune.


  </p>
        </div>
</div>



  </div><!-- /.container -->




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
